.getPasses{
  font-family: "Bangers", serif;
  padding: 7rem 0 3rem 0;
}

.heading{
  text-align: center;
  margin-bottom: 3rem;
}

.passContainer{
  display: flex;
  justify-content: space-evenly;
  /* min-height: 50vh; */
}

.pass{
  border-radius: 10px;
  padding: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.183);
  font-family: "Poppins", serif;
  transition: all ease 200ms;
  min-height: 56vh;
}

.pass:hover{
  /* padding: 1.3rem 5rem; */
  transform: scale(1.1);
}

@media screen and (width < 1230px) {
  .pass:hover{
    padding: 1.3rem;
    transform: scale(1);
  }
}
.pass.combo{
  border: 1px solid yellow;
}

.passTitle{
  color: white;
}

.current_price{
  color: white;
}

.original_price{
  color: red;
}

.passImage{
  width: 18rem;
}

@media screen and (width < 1100px) {
  .passContainer{
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }

  .pass{
    width: min-content;
  }
}