.img{
    width: 80%;
    height: 35vh;
    object-fit: cover;
}

.flexContainer{
    display: flex;
    flex-direction: column;
}

@media screen and (width <= 480px) {
    .img{
        /* width: 100%; */
        /* height: 20vh; */
        object-fit: cover;
    }
    .flexContainer{
        display: flex;
        flex-direction: column;
    }
}