.container {
  padding-top: 8rem;
  font-family: "Poppins";
}
.days{
  text-align: center;
  margin-bottom: 2rem;
}

.heading {
  font-family: "Bangers", system-ui;
  cursor: default;
  padding-bottom: 3rem;
  text-align: center;
  letter-spacing: 0.2vw;
  font-size: 3rem;
}

.align {
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
  min-width: 40vw;
  min-height: 10vh;
  padding: 0 20px;
  position: relative;
}
.align >p:nth-child(2){
  min-width: 10vw;
}
.align>p{
  margin: 1.5vw 0;
}

.line {
  content: "";
  width: 3px;
  background-color: #61F7CA;
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  margin-left: -1.5px;
  z-index: -1;
}

.dot {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.edu {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.eduList::before {
  content: "";
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 4px;
  left: -36px;
  animation: pointer 1.3s infinite;
}

.eduList:nth-child(odd)::before {
  animation-delay: 0.5s;
}

.eduList:nth-child(even)::before {
  animation-delay: 1s;
}

@keyframes pointer {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 480px) {
  .heading {
    font-size: 2rem;
  }
  .align>p{
    margin-top: 7vw;
  }
  .align{
    font-size: 1.2rem;
    min-width: 85vw;
  }
  .align >p:nth-child(2){
    min-width: 30vw;
    margin-left: -14vw;
  }
  .line {
    content: "";
    width: 3px;
    background-color: #61F7CA;
    position: absolute;
    top: 0;
    left: 55%;
    bottom: 0;
    margin-left: -1.5px;
    z-index: -1;
  }
  .dot {
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}
