.container{
    position: absolute;
    z-index: 32;
    width: 100%;
    overflow: hidden;
    opacity: 0.3;
}
.container > div{
    padding: 0 !important;
}
.img {
    width: 100vw;
    height: 80%;
    object-fit: cover;
    /* background-size: cover; */
    animation: zoomOut 3s ease-in-out infinite alternate;
  }
  @keyframes zoomOut {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  
  @media screen and (max-width: 480px) {
    .img {
      height: 100vh;
    }
  }
  
  @media screen and (min-width: 481px) {
    .img {
      height: 100vh;
    }
  }
  